.centre{
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centre .image {
    border: 3px solid black;
    width: 30%;
    height: 30rem;
    border-radius: 10%;
}

.centre .image img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}